@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Playfair+Display&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Playfair+Display&family=Roboto:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, p{
    color: rgb(202, 202, 202);
}
.background-box{
    background-image: url("assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.coluna-inicial{
    display: flex;
    flex-direction: column;
}
.coluna-meio{
    display: flex;
    flex-direction: column;
}
.coluna-fim{
    display: flex;
    flex-direction: column;
}
.vertical{
    width: 35vh;
    height: 55vh;
    margin: 5vh;
    border: 7px solid #a2124a
}
.vertical:hover{
    transform: scale(1.1);
}
.quadrado{
    width: 35vh;
    height: 35vh;
    margin: 5vh;
    border: 7px solid #FFFF00
}
.quadrado:hover{
    transform: scale(1.1);
}
body{
    background-color: #0047ab;
    width: 100%;
    height: 100%;
}
h2{
    font-family: Playfair Display;
    font-size: 3vh;
}
p{
    font-family: montserrat;
    font-size: 2vh;
}
.box-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25vh;
}
.box-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25vh;
}
.box-obras{
    border: 7px solid #FFFF00 ;
    width: 35vh;
    height: 35vh;
    z-index: 2;
}
.box-obras:hover{
    transform: scale(1.1);
}
.box-dialogo{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 0;
    width: 70vh;
    height: 30vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
}
.box-master{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.display-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12vh;
}
.obras-box{
    border: 7px solid #a2124a ;
    width: 35vh;
    height: 35vh;
    z-index: 2;
}
.obras-box:hover{
    transform: scale(1.1);
}
.dialogo-box{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 0;
    width: 30vh;
    height: 70vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.creditos{
    margin: 5vh;
}
@media only screen and (max-width: 768px){
    .background-box{
        display: none;
    }
    .coluna-inicial{
        display: none;
    }
    .coluna-meio{
        display: none;
    }
    .coluna-fim{
        display: none;
    }
    body{
        background-color: #0047ab;
        background-image: linear-gradient(328deg, #0047ab 0%, #a2124a 100%);
    }
    .box-start{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 3vh;
    }
    .box-end{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .display-box{
        margin: auto;
        margin-top: 10vh;
    }
}